{% extends 'base.html.twig' %}

{% block title %}House index
{% endblock %}

{% block body %}
	<h1>House index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>CP</th>
				<th>Ville</th>
				<th>Prix par nuit</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for house in houses %}
				<tr>
					<td>{{ house.id }}</td>
					<td>{{ house.name }}</td>
					<td>{{ house.zipcode }}</td>
					<td>{{ house.city }}</td>
					<td>{{ house.pricePerNight }}
						€</td>
					<td>
						<a href="{{ path('app_house_show', {'id': house.id}) }}">show</a>
						<a href="{{ path('app_house_edit', {'id': house.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="12">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary" href="{{ path('app_house_new') }}">Nouveau</a>
{% endblock %}
